<div class="container is-max-widescreen">
    <nav class="navbar is-transparent pt-3" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="/assets/img/netders-logo.svg" width="150" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item">
                Ana sayfa
            </a>
            <a class="navbar-item">
                Eğitmen ara
            </a>
            <a class="navbar-item">
                Nasıl çalışır?
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Netders
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Biz kimiz?
                    </a>
                    <a class="navbar-item">
                        Yardım
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        İletişim
                    </a>
                </div>
            </div>

            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary is-small is-rounded">
                        <strong>Üye ol</strong>
                    </a>
                    <a class="button is-light is-small is-rounded">
                        Giriş yap
                    </a>
                </div>
            </div>

        </div>
    </nav>
</div>