<div class="container is-max-widescreen">
    <nav class="navbar is-transparent pt-3" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="/assets/img/todo-logo-onursonmez.png" width="120">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item">
                Home
            </a>
            <a class="navbar-item">
                Route 1
            </a>
            <a class="navbar-item">
                Route 2
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Not working
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Some 1
                    </a>
                    <a class="navbar-item">
                        Some 2
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Some 3
                    </a>
                </div>
            </div>

            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary is-small is-rounded">
                        <strong>Sign Up</strong>
                    </a>
                    <a class="button is-light is-small is-rounded">
                        Sign In
                    </a>
                </div>
            </div>

        </div>
    </nav>
</div>