<div class="container is-max-widescreen">
    <section>
        <div class="card mt-4 p-5">
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="block">
                        <h4 class="is-size-4 has-text-weight-bold">
                            Özel Ders
                        </h4>
                        <p class="is-size-5 mt-4 mb-4">
                            Alanında uzman eğitmenlerden özel ders almak ister misin?
                            Netders.com, birebir veya canlı olarak özel ders almak isteyen
                            öğrencileri, tam aradıkları uzman eğitmenlerle buluşturuyor.
                        </p>
                    </div>
                    <div class="columns mt-4">
                        <div class="column is-half">
                            <div class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        <img src="/assets/img/sketchbook.png" />
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong class="is-size-5">Pratik</strong>
                                            <br>
                                            Gelişmiş arama motoru ile aradığın eğitmeni kolayca
                                            bulur, istediğin zaman derse başlayabilirsin.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-half">
                            <div class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        <img src="/assets/img/protect.png" />
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong class="is-size-5">Güvenli</strong>
                                            <br>
                                            Tüm eğitmenlerin profilleri ayrıntılı olarak incelenir.
                                            Güvenerek eğitmenlerle görüşebilirsin.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns mt-4">
                        <div class="column is-half">
                            <div class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        <img src="/assets/img/share.png" />
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong class="is-size-5">Kesintisiz</strong>
                                            <br>
                                            7/24 eğitmenlerle iletişime geçebilir, dilediğin dersi
                                            hemen almaya başlayabilirsin.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-half">
                            <div class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        <img src="/assets/img/classroom.png" />
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong class="is-size-5">Ücretsiz</strong>
                                            <br>
                                            Özel ders veren eğitmenlerin neredeyse tamamı ilk dersi
                                            ücretsiz veriyor. Bu fırsat kaçmaz.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h4 class="is-size-4 has-text-weight-bold mb-2">
                        Ücretsiz üyelik
                    </h4>
                    <section>
                        <div class="field">
                            <label class="label">Adın</label>
                            <div class="control">
                                <input class="input" v-model="firstname" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Soyadın</label>
                            <div class="control">
                                <input class="input" v-model="lastname" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">E-posta adresin</label>
                            <div class="control">
                                <input class="input" type="email" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Şifren</label>
                            <div class="control">
                                <input class="input" type="password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="radio">
                                <input type="radio" name="answer" value="1">
                                Öğrenciyim, özel ders alacağım
                            </label>
                        </div>
                        <div class="field">
                            <label class="radio">
                                <input type="radio" name="answer" value="2">
                                Eğitmenim, özel ders vereceğim
                            </label>
                        </div>
                        <button class="button is-primary">
                            Üye ol
                        </button>
                    </section>
                </div>
                <div class="home-section1-bottom">
                    <span>
                        <img src="/assets/img/home-2.svg" width="100%">
                    </span>
                </div>
                <div class="home-section2-bottom">
                    <span>
                        <img src="/assets/img/home-1.svg" width="100%">
                    </span>
                </div>
            </div>
    </section>
</div>

<div class="container is-max-widescreen">
    <section>
        <div class="card mt-4 p-5">
            <h1 class="title">Sana en uygun eğitmeni bul</h1>
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" placeholder="Örn. matematik veya ingilizce...">
                </div>
                <div class="control">
                    <a class="button is-primary">
                        Hemen bul
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container is-max-widescreen">
    <section>
        <div class="card mt-4 p-5">
            aa
        </div>
    </section>
</div>

<div class="container is-max-widescreen">
    <section>
        <div class="card mt-4 p-5">
            aa
        </div>
    </section>
</div>